print("Hello World!!")

In [22]:
print("Hello World!!")

Hello World!!

1- Variables

Python has no command for declaring a variable. A variable can store different data types like str, int, float, list, dic, ...

In [2]:
x = 5 
y = 'John'
email = 'example@company.com'
print(f"x: {x}, y: {y}, email: {email}")

x: 5, y: John, email: example@company.com

In [9]:
x, y, email = 5, 'John', 'example@company.com'
print(f"x: {x}, y: {y}, email: {email}")

x: 5, y: John, email: example@company.com

2- Data Type

Text Type:	     str
Numeric Types:	 int, float
Sequence Types:	 list
Boolean Type:	 bool

You can get the type of variable with the  type()  function

In [3]:
name = 'John'
print(f"name: {type(name)}")

x = 5 
print(f"x: {type(x)}")

y = 5.5
print(f"y: {type(y)}")

ages = [18, 20, 25]
print(f"ages: {type(ages)}")

true = True
print(f"true: {type(true)}")

name: <class 'str'>
x: <class 'int'>
y: <class 'float'>
ages: <class 'list'>
true: <class 'bool'>

3- Casting

str(), int(), and float() are python Builtin functions.
they can be used to convert differet types to each other link integer to float.

In [7]:
x = str(5) 
print(f"x: {x}, the type of x is {type(x)}")

y = int('5')
print(f"y: {y}, the type of y is {type(y)}")

z = float(5)
print(f"z: {z}, the type of y is {type(z)}")

x: 5, the type of x is <class 'str'>
y: 5, the type of y is <class 'int'>
z: 5.0, the type of y is <class 'float'>

4- String

single quotes => ''
double quotes => ""
triple quotes => """""", ''''''

In [16]:
name = 'John'
print(name)
car_owner = "John's car"
print(car_owner)
description = """
   welcome to this python course.
you have already learned the following topics:
Variables
Data type
... 
"""
print(description)

John
John's car

   welcome to this python course.
you have already learned the following topics:
Variables
Data type
...

4-1- Slicing strings

In [21]:
text = 'John is living in Stuttgart'
print(f"first letter of text ==> {text[0]}")
print(f"second letter of text ==> {text[1]}")
print(f"last letter of text ==> {text[-1]}")
print(f"print '{text[-9:]}' from end of the text")
print(f"print '{text[18:]}' from start of the text")

first letter of text ==> J
second letter of text ==> o
last letter of text ==> t
print 'Stuttgart' from end of the text
print 'Stuttgart' from start of the text

4-2- Strings builtin methods

lower(): returns the string in lower case
replace(): replaces a string with another string
split(): splits the string into substrings

In [27]:
text = 'John is living in Stuttgart'
print(f"all letters are in lower case ==> {text.lower()}")
print(f"join words with dash instead of space ==> {text.replace(' ', '-')}")
print(f"split sentence ==> {text.split(' ')}")

all letters are in lower case ==> john is living in stuttgart
join words with dash instead of space ==> John-is-living-in-Stuttgart
split sentence ==> ['John', 'is', 'living', 'in', 'Stuttgart']

4-3- String Concatenation

In [29]:
city = 'Stuttgart'
uni = 'University of Applied Sciences'
name = city + ' ' + uni
print(name)

Stuttgart University of Applied Sciences

5-Arithmetic Operators

+	   Addition	
-	   Subtraction	
*	   Multiplication		
/	   Division		
%	   Modulus		
**	   Exponentiation	
//	   Floor division

In [34]:
x, y = 25, 2
print(f"""
x + y = {x + y}
x - y = {x - y}
x * y = {x * y}
x / y = {x / y}
x % y = {x % y}
x ** y = {x ** y}
x // y = {x // y}
""")

x + y = 27
x - y = 23
x * y = 50
x / y = 12.5
x % y = 1
x ** y = 625
x // y = 12

In [35]:
x = 25
print(f"""
x = x + 2 or x += 2 is equal to { x + 2}
x = x - 2 or x -= 2 is equal to { x - 2}
x = x * 2 or x *= 2 is equal to { x * 2}
x = x / 2 or x /= 2 is equal to { x / 2}
""")

x = x + 2 or x += 2 is equal to 27
x = x - 2 or x -= 2 is equal to 23
x = x * 2 or x *= 2 is equal to 50
x = x / 2 or x /= 2 is equal to 12.5

6- Lists

they are used to store multiple items which are ordered, changeable, and allow duplicate values

In [67]:
city = ['stuttgart', 'berlin', 'hamburg', 'Munich', 'frankfurt', 'leipzig']
print(f"first city ==> {city[0]}")
print(f"last city ==> {city[-1]}")
print(f"last letter of third city ==> {city[4][-1]}")

city[1] = 'Bonn' # change berlin to bonn
print(f"list of cities ==> {city}")

first city ==> stuttgart
last city ==> leipzig
last letter of third city ==> t
list of cities ==> ['stuttgart', 'Bonn', 'hamburg', 'Munich', 'frankfurt', 'leipzig']

6-1- List builtin methods

append(): add an item to the end of the list
insert(): insert a list item at a specified index
pop(): removes the last item if do not specify index
remove(): removes the specified item
extend(): combine two list with each other
sort() and reverse(): sort list in numeric/alphabetical order or vice versa

In [64]:
city_1 = ['stuttgart', 'berlin']
city_2 = ['Munich', 'frankfurt', 'leipzig']

city_1.append(city_2[0]) # append first city of city_2 to city_1
print(f"append first city of city_2 to city_1 ==> {city_1}")

city_1.insert(1, city_2[1]) # insert second city of city_2 into city_1 as a second city
print(f"insert second city of city_2 into city_1 as a second city ==> {city_1}")

print(f"last city of city_1 is popped ==> {city_1.pop()}")

city_1.remove('berlin') # remove berlin from city_1
print(f"remove berlin from city_1 ==> {city_1}")

city_1.extend(city_2)
print(f"extend city_1 and city_2 ==> {city_1}")

city_1.sort() # 
print(f"sort city_1 ==> {city_1}")

city_1.reverse() # 
print(f"sort reversely city_1 ==> {city_1}")

append first city of city_2 to city_1 ==> ['stuttgart', 'berlin', 'Munich']
insert second city of city_2 into city_1 as a second city ==> ['stuttgart', 'frankfurt', 'berlin', 'Munich']
last city of city_1 is popped ==> Munich
remove berlin from city_1 ==> ['stuttgart', 'frankfurt']
extend city_1 and city_2 ==> ['stuttgart', 'frankfurt', 'Munich', 'frankfurt', 'leipzig']
sort city_1 ==> ['Munich', 'frankfurt', 'frankfurt', 'leipzig', 'stuttgart']
sort reversely city_1 ==> ['stuttgart', 'leipzig', 'frankfurt', 'frankfurt', 'Munich']

6-2- Copy a List

num_1 = list()
num_2 = num_1: num_2 is not a copy of num_1 because it is a reference of num_1

In [65]:
num_1 = [25, 15, 12, 100]
print(f"num_1 before append {num_1}")
num_2 = num_1
num_2.append(250)
print(f"num_1 after append {num_1}")

num_1 before append [25, 15, 12, 100]
num_1 after append [25, 15, 12, 100, 250]

In [66]:
num_1 = [25, 15, 12, 100]
print(f"num_1 before append {num_1}")
num_3 = num_1.copy()
num_3.append(250)
print(f"num_1 after append {num_1}")

num_1 before append [25, 15, 12, 100]
num_1 after append [25, 15, 12, 100]

7- Tuple 

Tuple items are ordered, unchangeable, and allow duplicate values.

In [73]:
year = (2001, 2005, 1988, 1996, 2022)
print(f"the first year {year[0]}, the last year {year[-1]}")

# year[1] = 2010 ==> it is not possibe to change 2005 to 2010

x_with_comma = (5.5)
x_without_comma = (5.5,)
print(f"the differences between x_with_comma = (5.5) and x_without_comma = (5.5,) == > x_with_comma: {type(x_with_comma)}, y: {type(x_without_comma)}")

the first year 2001, the last year 2022
the differences between x_with_comma = (5.5) and x_without_comma = (5.5,) == > x_with_comma: <class 'float'>, y: <class 'tuple'>

8- Set

Sets are unordered, unchangeable, and do not allow duplicate values.

In [83]:
age_list = [25, 50, 25, 50, 50, 25, 50, 16, 11, 16, 11, 11]
age_set = {25, 50, 25, 50, 50, 25, 50, 16, 11, 16, 11, 11}
print(f"length of age_list is {len(age_list)}, length of age_set is {len(age_set)}")

age_set.add(100)
print(f"add 100 to age_set ==> {age_set}")
age_set.add(200)
print(f"add 200 to age_set ==> {age_set}")
age_set.add(300)
print(f"add 300 to age_set ==> {age_set}") # so it is unordered

length of age_list is 12, length of age_set is 4
add 100 to age_set ==> {100, 11, 16, 50, 25}
add 200 to age_set ==> {100, 200, 11, 16, 50, 25}
add 300 to age_set ==> {100, 200, 11, 300, 16, 50, 25}

9- Dictionary

Dictionaries are used to store data values in key:value pairs

In [96]:
user = {'name': 'John', 'age': 25, 'job': 'Python Developer'}
print(f"key of user: {user.keys()}, value of user: {user.values()}")
print(f"my name is {user['name']},\
      I am {user['age']} years old,\
      and I am {user['job']}")

key of user: dict_keys(['name', 'age', 'job']), value of user: dict_values(['John', 25, 'Python Developer'])
my name is John,      I am 25 years old,      and I am Python Developer
user 1 name is John and user 2 age is 23

9-1 Nested Dictionary

In [97]:
users = {1:{'name': 'John', 'age': 25}, 2:{'name': 'Sara', 'age': 23}}
print(f"user 1 name is {users[1]['name']}, and user 2 age is {users[2]['age']}")

user 1 name is John and user 2 age is 23

10- Conditions and If statements

In [119]:
num_1 = 5
num_2 = 25
if num_1 == num_2:
    print('Both are equal')
else:
    print(f"num_1 is bigger than num_2:  {num_1 >= num_2} \
          num_1 is not bigger than num_2:  {num_1 <= num_2}")

num_1 is bigger than num_2:  False           num_1 is not bigger than num_2:  True

In [112]:
users = {'names': ['John', 'Joe', 'Sara'], 'passwords': [123, 254, 547]}

user_pass = 123

if user_pass in users['passwords']:
    name_index = users['passwords'].index(user_pass)
    print(f"Welcome {users['names'][name_index]}")
else:
    print('Check your password')

Welcome John

11- For Loops

A for loop is used for iterating over a sequence (list, tuple, dictionary, set, or string)

In [120]:
years = (2001, 2005, 1988, 1996, 2022)
for year in years:
    print(year)

2001
2005
1988
1996
2022

In [121]:
years = (2001, 2005, 1988, 1996, 2022)
for i in range(len(years)):
    print(years[i])

2001
2005
1988
1996
2022

11-1 linear for loop with if statement

add a new key to users dectionary. 
the values should be boolean.
the condition is: the age of users should be older than 30

In [123]:
users = {'names': ['John', 'Joe', 'Sara'], 'ages': [28, 50, 20]}
users['older_30'] = [True if age > 30 else False for age in users['ages']]
print(users)

{'names': ['John', 'Joe', 'Sara'], 'ages': [28, 50, 20], 'older_30': [False, True, False]}

12- Functions

it is a block of code which only runs when it is called.

In [125]:
def hello(name):
    print(f'Hello {name} !!!!')
hello('John')

Hello John !!!!

12-1 write previous example with function

In [126]:
def check_age(age):
    return True if age > 30 else False
users['older_30'] = [check_age(age) for age in users['ages']]
print(users)

{'names': ['John', 'Joe', 'Sara'], 'ages': [28, 50, 20], 'older_30': [False, True, False]}